@model Fitcard.Web.Models.Categoria

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Você realmente quer remover este item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CAT_NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_NOME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
